<%#= form_with(model: event) do |form| %>
<%= form_with model: event, data: { reflex: "submit->EventReflex#create" } do |form| %>
<div id="status_div"></div>
<% if event.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% event.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: 'form-control' %>
      </div>
  <div class="mb-6">
        <%= form.label :level, class: label_class %>
          <%= form.text_field :level, class: 'form-control' %>
      </div>
  <div class="mb-6">
        <%= form.label :starts_at, class: label_class %>
          <%= form.datetime_field :starts_at, class: 'form-control' %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if event.persisted? %>
<%= link_to "Cancel", event, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", events_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
